

/**
 * @Main css for (Template/Project Name)
 *
 * @project     - Project Name
 * @author      - 
 * @created_by  - 
 * @created_at  - 
 * @modified_by -
 */


/**
 * Normal Reset
 * Imported Files
 * @font-face
 */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/* Comfortaa */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight:300;
    src: url(../fonts/Comfortaa/Comfortaa-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight:400;
    src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight:700;
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    outline: none!important;
}

*, 
*:before, 
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,
q,s,samp,small,strik,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video{
    margin: 0;
    padding: 0;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a,
a:focus {
    text-decoration: none;
}

textarea {
    resize: vertical;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: auto;
}

/**
 * Normal Reset
 * Imported Files
 * @font-face'End
 */





/**
 * Css for Slider
 */

#slider .carousel-item {
    height: 100vh;
}

#slider .carousel-item  > img {
    -webkit-object-fit: cover;
    object-fit: cover;
    -webkit-object-position: center;
    object-position: center;
}
#slider .carousel-item .slidecontent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    /*
    background-image: -webkit-linear-gradient(to top, rgba(9, 32, 63, 0.74) 0%, rgba(83, 120, 149, 0.74) 100%);
    background-image: linear-gradient(to top, rgba(9, 32, 63, 0.74) 0%, rgba(83, 120, 149, 0.74) 100%);
    */
    background: -webkit-linear-gradient(bottom, rgba(0,83,122, 0.6) 0%, rgba(0, 0, 0, 0.49) 95%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(bottom, rgba(0,83,122, 0.6) 0%, rgba(0, 0, 0, 0.49) 95%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(bottom, rgba(0,83,122, 0.6) 0%, rgba(0, 0, 0, 0.49) 95%, rgba(0, 0, 0, 0.5) 100%);
    background: -moz-linear-gradient(bottom, rgba(0,83,122, 0.6) 0%, rgba(0, 0, 0, 0.49) 95%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to top, rgba(0,83,122, 0.6) 0%, rgba(0, 0, 0, 0.49) 95%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#slider .carousel-item .slidecontent h2.slide_title {
    color: #fff;
    font-size: 5rem;
    line-height: 100%;
    -webkit-animation: fadeInDown 2s 1;
    animation: fadeInDown 2s 1;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin-bottom: 40px;
}


#slider .carousel-item .slidecontent h4.sub_title {
    color: #fff;
    font-size: 1.5rem;
    line-height: 120%;
    animation: fadeInDown 2s 1;
    -webkit-animation: fadeInDown 2s 1;
    letter-spacing: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#slider .carousel-item .slidecontent .link > a:nth-child(1) {
    -webkit-animation: fadeInLeft 2s 1;
    animation: fadeInLeft 2s 1;
    background-color: transparent!important;
    border:1px solid #fff;
}

#slider .carousel-item .slidecontent .link > a:nth-child(2) {
    -webkit-animation: fadeInRight 2s 1;
    animation: fadeInRight 2s 1;
}

@media (min-width:1200px){
    #slider .carousel-item .slidecontent h2.slide_title ,
    #slider .carousel-item .slidecontent h4.sub_title {
        max-width: 60%;
    }
}
#slider .carousel-control-prev,
#slider .carousel-control-next {
    font-size: 4rem;
}
#slider .special {
    color: var(--blue)!important;
    display: inline-block;
    -webkit-animation: fadeInDown 3s 1;
    animation: fadeInDown 3s 1;
    font-weight: 500;
}
/**
 * Css for Slider'End
 */







